<div class="profile-container">
  <h2>My Profile</h2>

  <div class="profile-picture">
    <img *ngIf="profilePictureUrl" [src]="profilePictureUrl" alt="Profile Picture" (click)="triggerFileInput()" />
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
    <div class="wrap-profile-button" *ngIf="!profilePictureUrl">

      <div class="button">
        <p class="btnText">Upload</p>
        <div class="btnTwo">
          <p class="btnText2" (click)="triggerFileInput()">Photo!</p>
          <!-- <button class="btnText2" (click)="triggerFileInput()">Upload Photo</button> -->
        </div>
      </div>

    </div>

    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
    
  </div>

  <div class="user-info">
    <p>Email: {{ currentUser.email }}</p>
    <p>Phone: {{ currentUser.phone }}</p>
  </div>
</div>