<div class="profile-container">
  <h2>My Profile</h2>

  <div class="profile-picture">
    <img *ngIf="profilePictureUrl" [src]="profilePictureUrl" alt="Profile Picture" (click)="triggerFileInput()" />
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
    <div *ngIf="!profilePictureUrl">
      <button (click)="triggerFileInput()">Upload Photo</button>
    </div>

    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />

  </div>

  <div class="user-info">
    <p>Email: {{ currentUser.email }}</p>
    <p>Phone: {{ currentUser.phone }}</p>
  </div>
</div>