<div *ngIf="product">
    <h2>Редактиране на {{ product.name }}</h2>
    <form (ngSubmit)="updateProduct()">
      <div>
        <label>Име:</label>
        <input type="text" [(ngModel)]="product.name" name="name" required />
      </div>
      <div>
        <label>Описание:</label>
        <textarea [(ngModel)]="product.description" name="description" required></textarea>
      </div>
      <div>
        <label>Цена:</label>
        <input type="number" [(ngModel)]="product.price" name="price" required />
      </div>
      <div>
        <label>URL на изображение:</label>
        <input type="text" [(ngModel)]="product.imageUrl" name="imageUrl" required />
      </div>

      <div>
        <label>Категория:</label>
        <select [(ngModel)]="product.category" name="category" required>
          <option value="keyboard">Keyboard</option>
          <option value="mouse">Mouse</option>
          <option value="phone">Phone</option>
          <option value="laptop">laptop</option>
          <option value="TV">TV</option>
        </select>
      </div>

      <button type="submit">Запази промени</button>
    </form>
  </div>
  