<div class="home-container animate__animated animate__fadeIn">
    <div *ngIf="isLoading" class="loader">
        <div class="spinner"></div>
    </div>

    <div class="main-section" *ngIf="!isLoading">
        <swiper-container class="product-swiper-1" [navigation]="swiperConfig.navigation" [loop]="swiperConfig.loop"
            [slidesPerView]="swiperConfig.slidesPerView" [spaceBetween]="swiperConfig.spaceBetween"
            [pagination]="swiperConfig.pagination">
            <swiper-slide *ngFor="let product of swiperProducts">
                <div class="product-card-1">
                    <div class="product-info-1">
                        <div class="product-items" (click)="goToDetail(product.id)">
                            <img [src]="product.imageUrl" [alt]="product.name" class="product-image" />
                            <div class="product-details-1">
                                <h3>{{ product.name }}</h3>
                                <p class="product-price-1">{{ product.price | currency: 'BGN ' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
        </swiper-container>
    </div>


    

    <div class="filter-sidebarProduct">
        <aside class="filter-sidebar">
            <form (ngSubmit)="applyFilters()">
                <div class="filter-group">
                    <label for="productName">Product Name</label>
                    <input type="text" id="productName" [(ngModel)]="filters.productName" name="productName" />
                </div>
                <div class="filter-group">
                    <label for="category">Category</label>
                    <select id="category" [(ngModel)]="filters.category" name="category" (change)="applyFilters()">
                        <option value="">All</option>
                        <option value="keyboard">Keyboard</option>
                        <option value="mouse">Mouse</option>
                        <option value="phone">Phones</option>
                        <option value="laptop">Laptops</option>
                        <option value="TV">TV</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="priceRange">Price</label>
                    <select id="priceRange" [(ngModel)]="filters.price" name="priceRange" (change)="applyFilters()">
                        <option value="">All Prices</option>
                        <option value="0-99">0 - 99 BGN</option>
                        <option value="100-199">100 - 199 BGN</option>
                        <option value="200-299">200 - 299 BGN</option>
                        <option value="300-399">300 - 399 BGN</option>
                        <option value="400-499">400 - 499 BGN</option>
                        <option value="500-1000">500 - 1000 BGN</option>
                        <option value="1000+">Over 1000 BGN</option>
                    </select>
                </div>

                <div class="wrap-btn">
                    <button type="submit" class="styled-button-1">
                        <span>Apply</span>
                    </button>
                    <button type="button" class="styled-button-2" (click)="clearFilters()">
                        <span>Clear</span>
                    </button>
                </div>
            </form>
        </aside>
 
        <section class="products">
            <div *ngIf="showSuccessMessage" class="success-message">
                Продуктът {{ lastAddedProduct?.name }} беше добавен успешно в количката!
            </div>
        

            <h2>Our Products</h2>
            <div class="product-grid">

                <div class="product-card" *ngFor="let product of filteredProducts" (click)="goToDetail(product.id)">


                    <div class="like-section">
                        <button [class.active]="currentUserId && product.likes?.includes(currentUserId)"
                            (click)="onLikeClick(product)">
                            <fa-icon [icon]="faHeart"></fa-icon> Like ({{ product.likes?.length || 0 }})
                        </button>
                    </div>
                    <h3>{{ product.name }}</h3>
                    <img [src]="product.imageUrl" [alt]="product.name" />

                    <div class="position-buy-btn" *ngIf="isLoggedIn()">
                        <button class="buy-btn" *ngIf="product.ownerId !== userId"
                            (click)="addToCart(product); $event.stopPropagation()">Buy
                            <fa-icon [icon]="faCartShopping"></fa-icon></button>
                    </div>

                    <div class="price-and-button">
                        <p class="product-price">Price: {{ product.price | currency:'BGN' }}</p>
                    </div>



                </div>
            </div>
        </section>
    </div>

</div>