<footer class="footer animate__animated animate__fadeIn">
    <div class="footer-container">

        <div class="footer-logo">
            <img src="assets/cropped-pixelspot.png" alt="Tech Store">
            <p>Your tech store - phones, TVs, laptops, and more!</p>
        </div>

        <nav class="footer-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </nav>

        <div class="footer-social">
            <a href="https://facebook.com" target="_blank" class="social-icon">
                <span class="icon-wrapper">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </span>
            </a>
            <a href="https://instagram.com" target="_blank" class="social-icon">
                <span class="icon-wrapper">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </span>
            </a>
            <a href="https://twitter.com" target="_blank" class="social-icon">
                <span class="icon-wrapper">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </span>
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 PixelSpot Store. All rights reserved.</p>
    </div>
</footer>
