.product-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-form label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

.product-form input,
.product-form textarea,
.product-form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.product-form input:focus,
.product-form textarea:focus,
.product-form select:focus {
    border-color: #007bff;
    outline: none;
}

/* Стил за основния бутон */
.product-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-form button:hover {
    background-color: #0056b3;
  }
  
  /* Стил за бутона когато е неактивен */
  .product-form button:disabled {
    background-color: #cccccc;  /* светлосив фон */
    color: #666666;  /* по-сив текст */
    cursor: not-allowed;  /* курсорът да показва, че не може да бъде натиснат */
  }
  
  .product-form button:disabled:hover {
    background-color: #cccccc;  /* няма промяна при hover за неактивния бутон */
  }
  


.form-group {
    margin-bottom: 1rem;
}

.error small {
    color: red;
    display: block;
}

.color-group {
    margin-bottom: 0.5rem;
}