<form #addForm="ngForm" (ngSubmit)="addProduct()" class="product-form" novalidate>

  <div class="form-group">
    <label for="productName">Име на продукта:</label>
    <input 
      id="productName" 
      class="form-control" 
      type="text" 
      [(ngModel)]="product.name" 
      name="productName" 
      #productName="ngModel" 
      required 
      minlength="3"
    />
    <div *ngIf="productName.invalid && productName.touched" class="error">
      <small *ngIf="productName.errors?.['required']">Името е задължително.</small>
      <small *ngIf="productName.errors?.['minlength']">Името трябва да съдържа поне 3 символа.</small>
    </div>
  </div>


  <div class="form-group">
    <label for="productDescription">Описание на продукта:</label>
    <textarea 
      id="productDescription" 
      class="form-control" 
      [(ngModel)]="product.description" 
      name="productDescription" 
      #productDescription="ngModel" 
      required 
      minlength="10"
    ></textarea>
    <div *ngIf="productDescription.invalid && productDescription.touched" class="error">
      <small *ngIf="productDescription.errors?.['required']">Описанието е задължително.</small>
      <small *ngIf="productDescription.errors?.['minlength']">Описанието трябва да е поне 10 символа.</small>
    </div>
  </div>


  <div class="form-group">
    <label for="productPrice">Цена на продукта:</label>
    <input 
      id="productPrice" 
      class="form-control" 
      type="number" 
      [(ngModel)]="product.price" 
      name="productPrice" 
      #productPrice="ngModel" 
      required 
      min="1"
    />
    <div *ngIf="productPrice.invalid && productPrice.touched" class="error">
      <small *ngIf="productPrice.errors?.['required']">Цената е задължителна.</small>
      <small *ngIf="productPrice.errors?.['min']">Цената трябва да бъде поне 1.</small>
    </div>
  </div>


  <div class="form-group">
    <label for="productCategory">Категория:</label>
    <select 
      id="productCategory" 
      class="form-control" 
      [(ngModel)]="product.category" 
      name="productCategory" 
      #productCategory="ngModel" 
      required
    >
      <option value="" disabled selected>Изберете категория</option>
      <option value="keyboard">Клавиатури</option>
      <option value="mouse">Мишки</option>
      <option value="phone">Телефони</option>
      <option value="laptop">Лаптопи</option>
      <option value="tv">Телевизори</option>
    </select>
    <div *ngIf="productCategory.invalid && productCategory.touched" class="error">
      <small *ngIf="productCategory.errors?.['required']">Моля, изберете категория.</small>
    </div>
  </div>


  <div class="form-group">
    <label for="productImage">Основно изображение:</label>
    <input 
      id="productImage" 
      class="form-control" 
      type="file" 
      (change)="onFileSelected($event)" 
      required
    />
  </div>


  <div class="form-group">
    <label>Изображения по цветове:</label>
    <div *ngFor="let color of colors" class="color-group">
      <label for="colorImage-{{ color }}">{{ color }}</label>
      <input 
        id="colorImage-{{ color }}" 
        class="form-control" 
        type="file" 
        (change)="onColorImageSelected($event, color)" 
      />
    </div>
  </div>

  <button 
  type="submit" 
  class="btn btn-primary" 
  [disabled]="addForm.invalid || !selectedFile || !addForm.dirty"
>
  Добави продукта
</button>
</form>
