<div *ngIf="product" class="product-detail">
    <h2>{{ product.name }}</h2>

    <img [src]="product.imageUrl" alt="{{ product.name }}" />

    <p>{{ product.description }}</p>
    <p>Цена: {{ product.price | currency:'BGN' }}</p>

    <button *ngIf="isProductOwner(product)" (click)="editProduct(product)">Edit</button>
    <button *ngIf="isProductOwner(product)" (click)="deleteProduct(product)">Delete</button>

    <button *ngIf="!isProductOwner(product)" (click)="onBuyClick(product)">Buy</button>
</div>