.position-buy-btn {
    display: flex;
    justify-content: end;
}

.buy-btn {
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.buy-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.buy-btn:active {
    transform: scale(0.95);
}


.buy-btn fa-icon {
    margin-left: 5px;
    font-size: 1rem;
}

.price-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 10px;
}

.product-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.learn-more-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
}


.learn-more-btn:hover {
    background-color: #0056b3;
}




.home-container {
    display: flex;
    gap: 20px;
}


.filter-sidebar {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f4f4f4;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.filter-group input,
.filter-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}


.products {
    flex: 3;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 5px;
}
