<header class="banner">
    <h1>Добре дошли в нашия Технически Магазин!</h1>
    <p>Намерете най-добрите технологии на най-добрите цени!</p>
</header>

<section class="products">
    <h2>Нашите Продукти</h2>
    <div class="product-grid">
        <!-- Динамично изобразяване на продуктите с *ngFor -->
        <div class="product-card" *ngFor="let product of products">
            <img [src]="product.imageUrl" [alt]="product.name" />
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>Цена: {{ product.price | currency:'BGN' }}</p>
            <button *ngIf="product.id" (click)="goToDetail(product.id)">Details</button>

        </div>
    </div>
</section>

